Flask==0.12.2
Flask-SQLAlchemy==2.3.1
globomap-driver-acs==0.0.22
globomap-driver-napi==0.0.18
gunicorn==19.7.1
json-spec==0.10.1
MySQL-python==1.2.5
pika==0.10.0
requests==2.10.0
simple-db-migrate==3.0.0
SQLAlchemy==1.0.14
